body {
	font-family: Roboto, sans-serif;
}

ul {
	padding-left: 0px;
	list-style-type: none;

	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
}

a {
	text-decoration: none;
	font-size: 16px;
}
button {
	background-color: #3883F6;
	font-size: 18px;
	font-weight: 600;
	border-radius: 7px;
	border: 0px;
	padding: 6px 25px 6px 25px;
}

/* HEADER */

.bgcolor{
	background-color: #1F2937;
}

.header-logo {
	margin: 0px 0px 0px 200px;
	font-size: 24px;
	font-weight: 600;
	
}
.header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;

	padding: 1px;
	margin: 0px 0px 0px 0px;

}
.header-links {
	margin: 0px 200px 0px auto;

	display: flex;
	flex-wrap: nowrap;
	column-gap: 16px;
	align-items: center;

}

.title-div {
	margin: 0px -8px 0px -8px;
	padding: 100px 0px 100px 0px;

	display: flex;
	flex-wrap: nowrap;
	
	flex-shrink: 0;

}

.title-button {
	width: 500px;
	height: 220px;
	margin: 0px 0px 0px 200px;

	flex-shrink: 0;
}

.img-placeholder {
	background: rgba(255,255,255, 0.6);
	margin: 0px 200px 0px auto;
	width: 500px;
	height: 220px;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-shrink: 0;
}

.main-hero-text {
	font-weight: 800;
	font-size: 48px;
}
.secondary-hero-text {	
	font-size: 18px;
}

/*GROUPED SELECTORS*/

.secondary-hero-text, a , .footer{
	color: #E5E7EB;
}
.main-hero-text, button {
	color: #F9FAF8;
}
.button-one {
	margin-top: 8px;
}

/* FOOTER */

.footer {
	position: fixed;
	bottom: 0;
  	left: 0;
  	right: 0;
  	padding: 25px;

  	display: flex;
  	justify-content: center;
  	align-items: center;
}