body {
	font-family: Roboto, sans-serif;
}

ul {
	padding-left: 0px;
	list-style-type: none;

	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
}

a {
	text-decoration: none;
	font-size: 16px;
}
button {
	
	font-size: 18px;
	font-weight: 600;
	border-radius: 7px;
	border: 0px;
	padding: 6px 25px 6px 25px;
}

/* HEADER */

.bgcolor{
	background-color: #1F2937;
}

.header-logo {
	margin: 0px 0px 0px 200px;
}
.header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;

	padding: 1px;
	margin: 0px 0px 0px 0px;

}
.header-links {
	margin: 0px 200px 0px auto;

	display: flex;
	flex-wrap: nowrap;
	column-gap: 16px;
	align-items: center;

}

.title-div {
	margin: 0px -8px 0px -8px;
	padding: 100px 0px 100px 0px;

	display: flex;
	flex-wrap: nowrap;
}

.title-button {
	width: 500px;
	height: 220px;
	margin: 0px 0px 0px 200px;

	flex-shrink: 0;
}

.img-placeholder {
	background: rgba(255,255,255, 0.6);
	margin: 0px 200px 0px auto;
	width: 500px;
	height: 220px;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-shrink: 0;
}

.main-hero-text {
	font-weight: 800;
	font-size: 48px;
}
.secondary-hero-text, {	
	font-size: 18px;
}

/*GROUPED SELECTORS*/

.action-title, .header-logo{
	font-size: 24px;
	font-weight: 600;
}	

.secondary-hero-text, a , .footer, .secondary-action-text{
	color: #E5E7EB;
}
.main-hero-text, button, .action-title {
	color: #F9FAF8;
}
.button-one {
	margin-top: 8px;
}
button, .action {
	background-color: #3883F6;
}

/* FOOTER */

.footer {
	margin: 0px -8px -8px -8px;
	bottom: 0;
  	left: 0;
  	right: 0;
  	padding: 25px;

  	display: flex;
  	justify-content: center;
  	align-items: center;
}

.random-info {
	display: flex;
	flex-direction: column;
	margin: 0px -8px 0px -8px;
}

.img-text-placeholder {
	display: flex;
	flex-direction: row;
  	flex-wrap: nowrap;
  	justify-content: center;
  	margin-bottom: 100px;
  	
 
}

.box {
	height: 140px;
	width: 140px;
	border: 4px solid #3883F6;
	border-radius: 10px;
}

.img-txt {
	display: flex;
	flex-wrap: nowrap;
  	flex-direction: column;
  	align-items: center;
  	width: 200px;
}

.text {
	width: 150px;
	margin-top: 5px;

	align-self: center;
	text-align: center;
}

.title {
	font-weight: 800;
	font-size: 36px;
	color: #1F2937;
	align-self: center;
 	margin: 32px 0px 32px 0px;
}

/* HERO QUOTE */

.quote{
	background-color: #E5E7EB;
	color: 1F2937;
	font-size: 36px;
	font-style: italic;
	font-weight: 100;
	padding: 80px;
	margin: 0px -8px 0px -8px;

	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.author {
	margin: 0px 0px 0px 550px;
	font-style: normal;
	font-size: 20px;
	font-weight: 650;
	
}

/* ACTION */

.action {
	display: flex;
	padding: 60px;
	width: 950px;
	border-radius: 10px;
}

.foot-button{
	border: 2px solid #E5E7EB ;
	margin-left: auto;

	
}

.action-section {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 100px 200px 100px 200px;
}

.action-text {
	display: flex;
	flex-direction: column;
}